.row
  .large-10.columns
    = simple_form_for @recipe do |f|
      = f.input :title
      = f.input :description, as: :text, input_html: { rows: 10 }
      = f.input :ingredients, as: :text, input_html: { rows: 2 }
      = f.input :algorithm, as: :text, input_html: { rows: 10 }
      = f.input :image, as: :file
      = f.input :author
      = f.input :author_url
      = f.input :recipe_url
      = f.input :category, as: :select, collection: Recipe.categories.keys, include_blank: false
      = f.button :submit, class: 'button small secondary'


