= form_for recipe do |f|
	.row
		.large-10.columns
			= f.label :title
			= f.text_field :title 
	.row
		.large-10.columns
			= f.label :description
			= f.text_area :description, rows: 10
	.row
		.large-10.columns
			= f.label :ingredients
			= f.text_area :ingredients, rows: 10
	.row
		.large-10.columns
			= f.label :preparation
			= f.text_area :preparation, rows: 10
	.row
		.large-10.columns
			= f.label :photo_url
			= f.text_field :photo_url
	.row
		.large-10.columns
			= f.label :category
			= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name, recipe.category_id)
	.row
		.large-10.columns
			= f.submit nil, class: "button small secondary"
