- content_for :title, @recipe.title

%h1= @recipe.title

%p= image_tag @recipe.photo_url if @recipe.photo_url?

%p Description: #{@recipe.description}

%p Ingredients: #{@recipe.ingredients}

%p Preparation: #{@recipe.preparation}

