- content_for :title, @recipe.title

.row
	.large-9.columns
		= link_to "<< #{@recipe.category.name} recipes", category_path(@recipe.category)
		%h1= @recipe.title

		%p= image_tag @recipe.photo_url

		%p 
			- if @recipe.original?
				Original
			- else
				%a{href: @recipe.recipe_url, target: '_blank'} Link to the recipe

		%p Ingredients: #{@recipe.ingredients}

		%p Description: #{@recipe.description}

		- if @recipe.original?
			%p Preparation: #{@recipe.preparation}







