- content_for :title, @recipe.title

%h1.text-center= @recipe.title

%p.text-center= image_tag @recipe.photo_url

%p 
	- if @recipe.original?
		Original
	- else
		Recipe: 
		%a{href: @recipe.recipe_url}= @recipe.recipe_url

%p Ingredients: #{@recipe.ingredients}

%p Description: #{@recipe.description}

- if @recipe.original?
	%p Preparation: #{@recipe.preparation}





