- content_for :title, @recipe.title
- content_for :meta_tags do
	%meta{property: 'og:url', content: request.original_url.split('?').first}
	%meta{property: 'og:type', content: 'article'}
	%meta{property: 'og:title', content: @recipe.title}
	%meta{property: 'og:description', content: truncate(@recipe.description, length: 200, separator: ' ')}
	%meta{property: 'og:image', content: @recipe.photo_url}
- content_for :body_id, 'recipe-page'


.row
	.large-10.large-offset-1.columns
		/= link_to "<< #{@recipe.category.name} recipes", category_path(@recipe.category)
		%h1.title= @recipe.title

		%p= image_tag @recipe.photo_url

		%p 
			- if @recipe.original?
				Original
			- else
				%a#recipe-link{href: @recipe.recipe_url, target: '_blank'} Link to the recipe

		%h3.subheader Ingredients
		%p= @recipe.ingredients

		%h3.subheader Description
		%p= @recipe.description

		- if @recipe.original?
			%h3.subheader Preparation
			%p= @recipe.preparation







