- content_for :title, 'About'
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:type', content: 'article' }
  %meta{ property: 'og:title', content: 'About' }
  %meta{ property: 'og:description', content: 'About this blog' }
  %meta{ property: 'og:image', content: 'https://www.instagram.com/p/BBfMb-VH2V8/media?size=l' }
- content_for :body_id, 'about-page'

.row
  .large-10.large-offset-1.columns
    %h1.title
      About this blog
    .content
      %p
        Hi, I'm Vlatka.
      = image_tag 'https://www.instagram.com/p/BBNrX4JH2Zj/media?size=l'
      %p
        This blog is a project that combines my two biggest interests, programming and gastronomy.
        When I was starting my career as a Ruby on Rails developer, I decided to create a personal project on which I could practice my coding skills and improve my knowledge of the technologies I use at work. I also wanted a channel through which I could share my cooking adventures.
        I made some sketches, got some feedback from my designer colleagues, and started coding.
      = image_tag 'https://www.instagram.com/p/BBO_p-sn2d8/media?size=l'
      %p
        It's built using Ruby on Rails, SASS, HAML and Foundation frontend framework. It's actually a combination of a CMS and a blog. In it, you can find:
      %ul
        %li
          recipes - mostly reviews of the recipes that I like and would recommend. The internet is full of all kinds of recipes; it takes time to find the ones worth repeating. I also post some of my recipes. Recipes are classified in three categories: breakfast, lunch/dinner and other (desserts, snacks) and can be searched by ingredients.
        %li
          places - my favourite foodie spots in Paris and elsewhere. You can read some detailed reviews and see my Google Maps bookmarks.
        %li
          posts - my essays on food and healthy lifestyle
      = image_tag 'https://www.instagram.com/p/BBfMb-VH2V8/media?size=l'
      %p
        As you can notice, I'm into healthy, natural food, prepared with creativity. With this blog, my goal is to crash the prejudices that healthy food is plain, tasteless, or even expensive, and cooking is hard.
      %p
        You can take a look "behind the scenes" at the
        = succeed ',' do
          = link_to 'GitHub repo', 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank'
        and I invite you to follow the updates on
        = succeed '.' do
          = link_to 'Instagram', 'https://www.instagram.com/cuisinehacker/', target: '_blank'
      %p
        Happy cooking !
      = image_tag 'https://www.instagram.com/p/BBNrwZ9H2aq/media?size=l'



