- content_for :title, 'About'
- content_for :meta_tags do
  %meta{property: 'og:url', content: request.original_url.split('?').first}
  %meta{property: 'og:type', content: 'article'}
  %meta{property: 'og:title', content: 'About'}
  %meta{property: 'og:description', content: ''}
  %meta{property: 'og:image', content: ''}
- content_for :body_id, 'about-page'

.row
  .large-10.large-offset-1.columns
    %h1.title
      About this blog
    .content
      %p  
        Salut ! Je suis Vlatka. J'ai 25 ans et j'habite à Zagreb, en Croatie. I'm a programmer who loves French and healthy cuisine. I decided to combine my three favourite activities and create this blog. 
      = image_tag 'https://www.instagram.com/p/BBNrwZ9H2aq/media?size=l'
      %p
        It all started with me being a junior Ruby full stack developer. I wanted to learn more, and I knew the best way to learn in programming is by doing, by having some project to work on. I spontaneously got the idea about a food blog at coffee break at work, made some wireframes by hand and handed them out to our design team lead at 
        = succeed '.' do
          = link_to 'Five', 'http://five.agency/', target: '_blank'
        He gave me some feedback and also a big list of his favourite food blogs, to check them out for inspiration. And that's when I REALLY started to cook.
      = image_tag 'https://www.instagram.com/p/BBO_p-sn2d8/media?size=l' 
      %p
        Food blogging community is today amazingly lively. Instagram is a great platform that made it easy to share one's ideas and edible implementations, contributing to the open-source recipe community. So when I discovered food blogging superstars like 
        = succeed ',' do
          = link_to 'iamafoodblog', 'http://iamafoodblog.com/', target: '_blank'
        = link_to 'Minimalist Baker', 'http://minimalistbaker.com/', target: '_blank'
        and 
        = succeed ',' do
          = link_to 'Love & Lemons', 'http://loveandlemons.com', target: '_blank'
        I spent a lot of time browsing and bookmarking, grocery shopping and developing dans la cuisine. 
        When something turned out a success, I took a photo of it and wrote a short review. It was inevitable that I soon started creating my own recipes, because I got the "ingredients pairing intuition".
      %p
        Cuisine Hacker is a result of numerous weekend coding sessions, brainstorming and collaborating with my colleagues. My company is design-driven and we have a design dream team. I'd ping them for feedback, and they helped me with their expert eyes (merci Andrej, Marko et Siniša!).
      %p
        My intention with this blog is to share the recipes I tried out or the ones I created and that are a success. Success in the kitchen is for me defined by adjectives delicieux, facile and jolie. I’d like to get more people interested in cooking and show them it's not that hard and that it's fun and even profitable (financially and health-wise).
      = image_tag 'https://www.instagram.com/p/BBNrX4JH2Zj/media?size=l'
      %p
        For me, Cuisine Hacker is a platform for expressing myself and evolving, both like a programmer and a cook. An open-source kitchen diary. Bienvenue :)