= form_for @place do |f|
  .row
    .large-10.columns
    = f.label :name
    = f.text_field :name
  .row
    .large-10.columns
    = f.label :review
    = f.text_area :review
  .row
    .large-10.columns
    = f.label :website
    = f.text_field :website
  .row
    .large-10.columns
      #locations
        = f.label :locations
        = f.fields_for :locations do |location|
          = render 'location_fields', f: location
        .links
          = link_to_add_association '+', f, :locations, class: 'button tiny secondary'
  .row
    .large-10.columns
    = f.label :image
    = f.file_field :image
  .row
    .large-10.columns
    = f.submit nil, class: 'button small secondary'
