.row
  .large-10.columns
    = simple_form_for @place do |f|
      = f.input :name
      = f.input :review, as: :text, input_html: { rows: 20 }
      = f.input :website
      #locations.panel
        = f.label :locations
        = f.simple_fields_for :locations do |location|
          = render 'location_fields', f: location
        .links
          = link_to_add_association '+', f, :locations, class: 'button tiny secondary'

      = f.input :images, as: :file, input_html: { multiple: true }
      = f.button :submit, class: 'button small secondary'
