- content_for :title, @place.name
- content_for :meta_tags do
  %meta{ property: 'og:url', content: og_url }
  %meta{ property: 'og:type', content: 'article' }
  %meta{ property: 'og:title', content: @place.name }
  %meta{ property: 'og:description', content: truncate(strip_tags(@place.review), length: 200, separator: ' ') }
  %meta{ property: 'og:image', content: @place.images.first.url }
- content_for :body_id, 'place-page'

.row
  .large-10.large-offset-1.columns
    %h1.title= @place.name
    %h6.subheader.text-center
      = "#{@place.created_at.strftime('%B %d, %Y')} &nbsp;&bullet;&nbsp; In ".html_safe
      = link_to 'Places', places_map_path
    - @place.images.each do |image|
      = image_tag image.url
    .review
      = @place.review.html_safe
    %h3.subheader Website
    %p= link_to nil, @place.website, target: '_blank'
    %h3.subheader= 'Location'.pluralize(@place.locations.size)
    %p#locations
      - @place.locations.each do |location|
        %ul.vcard
          %li.street-address= location.address
          %li= 'Working hours:'
          %li= raw location.working_hours

    .social
      .social-icon#fb
        .fb-like{ 'data-layout' => 'box_count', 'data-action' => 'like', 'data-show-faces' => 'false', 'data-share' => 'false' }
      .social-icon
        %a.twitter-share-button{ 'href' => 'https://twitter.com/share', 'data-text' => 'cd Paris && git checkout this place: ', 'data-lang' => 'fr' } Tweeter
      .social-icon
        %a{ 'data-pin-do' => 'buttonPin', 'data-pin-color' => 'white', 'data-pin-count' => 'above', 'data-description' => @place.name, 'href' => "https://www.pinterest.com/pin/create/button/?url#{request.original_url.split('?').first}" }
          = image_tag '//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png'

    #disqus_thread

= render partial: 'shared/disqus', locals: { page_identifier: @place.slug }
