%nav.show-for-medium-up.top-bar{'data-topbar' => '', role: 'navigation', 'data-options' => 'is_hover: true'}
  %ul.title-area
    %li.name
      %h1= link_to "#{blog_name}", root_path, class: 'blog-name'

  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown#admin-dropdown
          = link_to 'Admin', '#'
          %ul.dropdown
            %li
              = link_to 'Manage recipes', recipes_path
            %li
              = link_to 'Manage posts', posts_path
            %li
              = link_to 'Logout', destroy_user_session_path, {'data-method' => :delete}
        %li.divider
      %li.has-dropdown#recipes-dropdown
        = link_to 'Recipes', '#'
        %ul.dropdown
          %li
            = link_to 'Breakfast', category_path('breakfast')
          %li
            = link_to 'Lunch/Dinner', category_path('lunch-dinner')
          %li
            = link_to 'Other', category_path('other')
          %li
            = link_to 'Search', search_path
      %li
        = link_to 'Posts', posts_archive_path
      %li
        = link_to 'About', about_path





