%nav.show-for-medium-up.top-bar{'data-topbar' => '', role: 'navigation', 'data-options' => 'is_hover: true'}
  %ul.title-area
    %li.name
      %h1= link_to "#{blog_name}", root_path, class: 'blog-name'

  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li.has-dropdown#admin-dropdown
          = link_to 'ADMIN', '#'
          %ul.dropdown
            %li
              = link_to 'MANAGE RECIPES', recipes_path
            %li
              = link_to 'MANAGE PLACES', places_path
            %li
              = link_to 'MANAGE POSTS', posts_path
            %li
              = link_to 'LOGOUT', destroy_user_session_path, {'data-method' => :delete}
        %li.divider
      %li.has-dropdown#recipes-dropdown
        = link_to 'RECIPES', '#'
        %ul.dropdown
          %li
            = link_to 'BREAKFAST', category_path('breakfast')
          %li
            = link_to 'LUNCH/DINNER', category_path('lunch-dinner')
          %li
            = link_to 'OTHER', category_path('other')
          %li
            = link_to 'SEARCH', search_path
      %li
        = link_to 'PLACES', places_map_path
      %li
        = link_to 'POSTS', posts_archive_path
      %li
        = link_to 'ABOUT', about_path





