%nav.tab-bar.show-for-small-only
  %section.middle.tab-bar-section
    %h1= link_to "#{blog_name}", root_path, class: 'blog-name'
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{ href: '#' }
      %span

%aside.right-off-canvas-menu.show-for-small-only
  %ul.off-canvas-list
    %li
      = link_to 'SEARCH', search_path
    %li
      = link_to 'BREAKFAST', recipes_category_path(category: 'breakfast')
    %li
      = link_to 'LUNCH/DINNER', recipes_category_path(category: 'lunch-dinner')
    %li
      = link_to 'OTHER', recipes_category_path(category: 'other')
    %li
      = link_to 'PLACES', places_map_path
    %li
      = link_to 'POSTS', posts_archive_path
    %li
      = link_to 'ABOUT', about_path
