%nav.tab-bar.show-for-small-only
  %section.middle.tab-bar-section
    %h1= link_to "#{blog_name}", root_path, class: 'blog-name'
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon{href: '#'}
      %span

%aside.right-off-canvas-menu.show-for-small-only
  %ul.off-canvas-list
    %li
      = link_to 'Search', search_path
    %li
      = link_to 'Breakfast', category_path('breakfast')
    %li
      = link_to 'Lunch/Dinner', category_path('lunch-dinner')
    %li
      = link_to 'Other', category_path('other')
    %li
      = link_to 'Posts', posts_archive_path
    %li
      = link_to 'About', about_path