= link_to 'https://www.instagram.com/cuisinehacker/', target: '_blank' do
  = image_tag 'fi-social-instagram.png'
= link_to 'https://www.facebook.com/cuisinehacker/', target: '_blank' do
  = image_tag 'fi-social-facebook.png'
= link_to 'https://github.com/vlatkapavisic/cuisinehacker', target: '_blank' do
  = image_tag 'fi-social-github.png'