!!!
%html
  %head
    %title
      = pagetitle
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto+Mono'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag '//assets.pinterest.com/js/pinit.js'
    = favicon_link_tag 'fi-laptop.png'
    = favicon_link_tag 'fi-laptop.png', rel: 'apple-touch-icon', type: 'image/png'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{property: 'fb:app_id', content: '1663416127241482'}
    %meta{property: 'og:site_name', content: "#{blog_name}"}
    = content_for :meta_tags

  %body{id: (content_for :body_id if content_for? :body_id)}
    .fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1663416127241482";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      !function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if(!d.getElementById(id)){
          js = d.createElement(s); 
          js.id = id; 
          js.src = p + '://platform.twitter.com/widgets.js'; 
          fjs.parentNode.insertBefore(js,fjs);
        }
      }(document, 'script', 'twitter-wjs');
    :coffee
      $ ->
        if ($('#recipe-page').length || $('#post-page').length)
          if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) 
            $('#fb').css('bottom', '11px') # brute force Safari hack

    .off-canvas-wrap{'data-offcanvas' => ''}
      .inner-wrap
        = render 'layouts/navbar_large'
        = render 'layouts/navbar_small'
        #page-content
          .row
            .large-12.columns
              - if flash[:notice]
                .alert-box.info.radius{data: {alert: ''}}
                  = flash[:notice]
                  %a.close{href: '#'} &times;
              %section.main-section
                = yield
        = render 'layouts/footer'

        %a.exit-off-canvas

