!!!
%html
  %head
    %title
      = pagetitle
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono:300'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{property: 'fb:app_id', content: '1663416127241482'}
    %meta{property: 'og:site_name', content: "#{blog_name}"}
    = content_for :meta_tags


  %body{id: (content_for :body_id if content_for? :body_id)}
    .off-canvas-wrap{'data-offcanvas' => ''}
      .inner-wrap
        = render 'layouts/navbar_large'
        = render 'layouts/navbar_small'
        - if flash[:notice]
          .alert-box.info.radius{data: {alert: ''}}
            = flash[:notice]
            %a.close{href: '#'} &times;
        %section.main-section
          = yield

        %a.exit-off-canvas